body{
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*navbar*/
.titleBar{
    color:rgb(241, 241, 1);
    background-color: rgb(144, 212, 144);
    height: 75px;
    display:flex;
}

#pesto{
    height: 75px;
}

#title{
    margin-left: 50px;

}

.navbar{
    color: rgb(144, 212, 144);
    background-color: rgb(241, 241, 1) ;
    height: 60px;
    width: 100%;
}
.navbar li{
    display:inline;
    float:right;
    padding: 17px; 
    font-size: 20px;
}


.navbar li:hover{
    text-decoration: underline;
}

/*homepage*/
.home{
    display:flex;
    height: 650px;
    background-color:rgb(248, 248, 248)
}


.home p{
    margin:auto;
    background-color: rgb(247, 185, 188);
    font-size: 70px;
    padding: 30px;
    color: rgb(236, 236, 48) ;

}


/*contacts */

.contact{
    display:grid;
    grid-template-rows: repeat (6, 1fr);
    height: 600px;
}

.box{
    padding: 10px;
    font-size: 20px;
    color:rgb(0, 0, 0)
}

.box1{
    grid-row: 2;
    border: 3px solid rgb(226, 126, 126);
    background-color: rgb(224, 140, 140);
}

.box2{
    grid-row: 4;
    border: 3px solid rgb(226, 126, 126);
    background-color: rgb(224, 140, 140);
}

.box3{
    grid-row: 6;
    border: 3px solid rgb(226, 126, 126);
    background-color: rgb(224, 140, 140);
}
.box ul{
    padding: 30px;
}

/* menu*/
.menu{
    display:grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 200px);
    margin: 20px;
    grid-gap: 70px;
}

.menu img{
    width: 250px;
    border: 4px solid black
}

#item1{
    grid-column: 2;
    grid-row: 1;
}

.price{
    float:right;
    padding: 50px;
}
